name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  asdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install asdf dependencies
        uses: asdf-vm/actions/install@v3

      - name: Run plugin test
        run: asdf plugin test assh .

      - name: Run plugin add
        run: asdf plugin add assh https://github.com/zekker6/asdf-assh.git

      - name: Run install
        run: asdf install assh latest
